*.sdf
*.user
RussiaAICup2016/Debug/
RussiaAICup2016/RussiaAICup2016/Debug/
*.opendb
RussiaAICup2016/Sources/Sources.zip
RussiaAICup2016/RussiaAICup2016/x64/
RussiaAICup2016/x64/Debug/cpp-cgdk.pdb
RussiaAICup2016/RussiaAICup2016/Release/
*.vspx
RussiaAICup2016/Release/
RussiaAICup2016/RussiaAICup2016.VC.db
RussiaAICup2016/RussiaAICup2016/DebugFast/
RussiaAICup2016/DebugFast/cpp-cgdk.exe
RussiaAICup2016/DebugFast/
RussiaAICup2016/Sources/SourcesOld.zip
